name: Playwright Test

on:
  push:
    branches:
      - main

jobs:
  playwright-test:
    name: Run Playwright Tests
    runs-on: ubuntu-latest
  steps:
  
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin' # or 'zulu'
        java-version: '17'      # adjust as needed
        cache: 'maven'          # enables dependency caching

    - name: Build with Maven
      run: mvn -B clean install
